/*General*/
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #f6f8f9;
}

main{
  margin: 0 15% 0 15%;
  margin-bottom: 10px;
}
main .box{padding:2% 5% 2% 5%;
line-height: 25px;
}

h2{
  font-size: 25px;
}
li{
  list-style:none ;

}

span{margin-left: 20px;}
/*General*/


/*Title & Logo*/
header div{
  padding: 10px 20px;
  background-color: white;
  height: 70px;
  margin-bottom: 50px;
}

#logo-text{
  font-weight: 800;
  font-size: 38px;
  vertical-align: middle;
}
header img{
  vertical-align:middle;
  height: 100%;
}

/*Title & Logo*/


/*topbar*/
.topbar{
  background-color: white;
  height: 70px;
  border-radius: 10px 10px 0 0;
  border-bottom: solid 5px #f6f8f9;
  
}
.topbar button{
  border-radius: 10px;
  padding: 5px 10px;
}
#button-task{
  color: white;
  border: solid 1px #47adf1 ;
  background-color: #47adf1;
}
#button-section{
  background-color: white;
  margin-left: 10px;
  border: solid 1px #dbdfe2;
  color: #dbdfe2;
}
/*topbar*/


/*task-list*/
.task-list{
  height: 750px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

section h2:before{
  content: '\25BC ';
}

section p, span{
  margin-top: 30px;
  font-size: 20px;
}
#check{
  color: lightgreen;
  border: solid 1px lightgreen;
}
#uncheck{
  color: red;
  border: solid 1px red;
}

#check, #uncheck{
  border-radius: 100%;
  padding: 0px 5px;
}

section h2{
  margin-top: 30px;
}
.little-box{
  border-radius: 10px;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}
#edi{
  background-color: #45abea;
}
#q1{
  background-color:#9c72e4 ;
}
#recr{
  background-color: #64c0a9;
}
#mob{
  background-color: #f29e33;
}
#web{
  background-color: #d863a1;
}
#sale{
  background-color: #b0c926;
}
/*task-list*/
